* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

input {
    display: none;
}

.container {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 48px;
    position: relative;
    margin: 30px 0;
}

h1::before {
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        width: 100px;
    }

    50% {
        width: 250px;
    }

    100% {
        width: 100px;
    }
}

.top-content {
    background-color: rgb(243, 243, 243);
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;

    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgray;
}

h3 {
    height: 100%;
    background-color: rgb(235, 235, 235);
    line-height: 60px;
    padding: 0 50px;
    font-size: 24px;
    border-radius: 5px 0 0 5px;
    /* color: white; */
}

label {
    display: inline-block;
    height: 100%;
    margin: 0 20px;
    line-height: 60px;
    font-size: 20px;
    color: gray;
    cursor: pointer;
    transition: color 1s ease;
}

label:hover {
    color: black;
    font-weight: 600;
}

.gallery {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

@media (max-width: 800px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
}

.pic {
    position: relative;
    max-height: 300px;
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 4px lightgray; */
}

.pic img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* border-radius: 5px; */
    transition: all 1s ease;
}

.pic img:hover {
    transform: scale(1.1);
}

.popup-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .8);
    height: 100%;
    width: 100%;
    z-index: 100;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 100px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    object-fit: cover;
}

#check1:checked~.container .gallery .pic {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check2:checked~.container .gallery .landscape {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check2:checked~.container .gallery .logo,
#check2:checked~.container .gallery .other {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check3:checked~.container .gallery .logo {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check3:checked~.container .gallery .landscape,
#check3:checked~.container .gallery .other {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}

#check4:checked~.container .gallery .other {
    opacity: 1;
    transform: scale(1);
    position: relative;
}

#check4:checked~.container .gallery .landscape,
#check4:checked~.container .gallery .logo {
    opacity: 0;
    transform: scale(0);
    position: absolute;
}